@media screen and (max-width: 376px) {
    .person-name {
        padding: 0px 10px;
    }

    .person-content {
        width: 50%;
        height: 100%;
    }

    .person-foto-conteiner{
        width: 50%;
        height: 100%;
    }

    .icon-content{
        padding: 0px 20px;
    }

    .icon-content h3 {
        margin-left: 10px;
    }

    .icon {
        margin-top: 10px;

    }

    .icon li {
        margin-top: 0px;
    }
    
    .icon li img {
        width: calc(3.5vw + .5rem);
    }
}

@media screen and (min-width:377px) and (max-width:768px){
    .person-name{
        padding: 0px 10px;
    }

    .icon-content {
        padding: 0px 15px;
    }

    .icon-content h3 {
        margin: 10px;
    }

    .icon {
        margin: 10px;
    }

    .icon li {
        margin: 0px;
    }

    .icon li img {
        width: calc(3.5vw + .5rem);
    }

}
